<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <ul>
        <% messages.forEach((message))=>{ %>
            <li>time:<%=message.added%} | User: <%=message.user%}=message: <%=message.text%} </li>
                    <% })%} </ul>
</body>

</html>